

body {
  font-family: sans-serif;
  color: #77929b;
  background-color: #051b30;
  height: 100vh;
  margin:0;
}

a{
  color:white
}
a:visited{
  color:white
}

h1 {
  margin: 0;
}

li{
  margin:20px;
}

a{
  text-decoration: none;
}

#list{
  border: 1px solid rgb(76, 85, 88);
  border-radius: 10px;
  padding:20px;
}

.content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

canvas {
  border: 1px solid #283134;
  border-radius: 10px;
}
